# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*  # hỗ trợ .env.production, .env.local,...

# Build outputs
dist/
build/
out/

# Coverage reports
coverage/
*.lcov

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo

# Parcel
.cache/

# Next.js
.next/

# Nuxt.js
.nuxt/

# SvelteKit
.svelte-kit/

# Storybook
storybook-s
